MONGO_DB_NAME=darumabot-test

DISCORD_TOKEN=<TOKEN>
DISCORD_CLIENT_ID=<BOT APPLICATiON ID>
DISCORD_GUILD_ID=<DISCORD GUILD ID>

ALGO_PURESTAKE_API_TOKEN=<PURESTAKE_API>
ALGO_CREATOR_ADDRESSES=PJZZK5XLDUGMNBKQIEGFERO6TLSB4M3ZC6G32WPOLDIOCPUTVUMH4S52GE

DISCORD_ADMIN_ROLE_ID=<ADMIN ROLE>
DISCORD_REGISTERED_ROLE_ID=<REGISTERED_ROLE>

REDIS_URL=redis://localhost:6379
PINO_LOG_LEVEL=trace
NODE_ENV=dev
